*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    background-color: #234547;
    color: white;
}

nav{
    display: flex;
    align-items: center;
    height: 50px;
}
span{
    padding: 50px;
    margin-left: 30px;
}
nav ul {
    width: 60%;
    justify-content: space-around;
    margin-left: 550px;
    display: flex;
    align-items: center;
    list-style: none;
}
.New-li{
    padding-left: 15px;
    border-radius: 40px;
    height: 30px;
    width: 135px;
    border: 2px solid #5e7170;
}

.before{
    width: 50%;

}
.before h1:first-child{
    font-size: 130px;
    font-weight: 800;
    color: white;
    margin-left: 100px;
   
}
.after {
    width: 50%;
    display: flex;
    flex-direction: row;
    
}


.after button{
    width: 150px;
    border-radius: 40%;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-top: -50px;
}
.after h1{
    font-size: 100px;
    font-weight: 800;
    color: white;
    margin-top: -50px;
}
.Titlle img{
    width: 160px;
    margin-left: 190px;
}
.Titlle{
    display: flex;
    
}
.Titlle button{
    width: 150px;
    height: 0.5px;
    margin-top: 100px;
    background-color: white;
    color: white;

}

.Text-one{
  margin-left: 370px;
   margin-left: 10px;
}
.Hero-one {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 50px;
}
.Hero-one p{
    font-size: 21px;
    font-weight: 300;
}


.Hero-one img{
    height: 190px;
    margin-right: 20px;
}

.line{
    height: 950px;
    width: 2px;
    background-color: #c2d4cb;
    position: relative;
    top: -945px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .Hero-one{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 50px;
     }
    }
